body {
  font-size: 20px;
  text-align: center;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li {
  padding: 15px;
}
a {
  text-decoration: none;
  color: purple;
}
li:hover {
  background-color: violet;
}
.column {
  flex-direction: column;
}
