.red {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.big {
  text-transform: uppercase;
}
h2 {
  text-align: center;
}
.line {
  text-decoration: line-through;
  text-decoration-color: red;
}
a.red {
  font-weight: normal;
}
