h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: lightblue;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.long {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
div img {
  width: 33%;
}
.opacity-1 {
  opacity: 30%;
}
.opacity-2 {
  opacity: 60%;
}
